<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>
  <name replace-wildcards="yes">Cura Agrorum Gateway on %h</name>

  <service>
    <type>_cura-agrorum._tcp</type>
    <port>18032</port>
    <txt-record>proto=tcp-frame-v1</txt-record>
    <txt-record>record_types=1,2</txt-record>
  </service>
</service-group>
