CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_XTAL_FREQ_40=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_UNITY_ENABLE_64BIT=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_CURA_SOIL_0_GPIO=0
CONFIG_CURA_SOIL_1_GPIO=1
CONFIG_CURA_SENSOR_POWER_GATE_GPIO=2
CONFIG_CURA_DS18B20_GPIO=3
CONFIG_CURA_I2C_SDA_GPIO=21
CONFIG_CURA_I2C_SCL_GPIO=22
CONFIG_CURA_SENSOR_POWER_STABILIZATION_MS=200
CONFIG_CURA_DS18B20_0_ROM="0000000000000000"
CONFIG_CURA_DS18B20_1_ROM="0000000000000000"
